In [ ]:
import sparktk as tk
from datetime import datetime
tc=tk.TkContext()
schema = [("timestamp", datetime),("name", str),("value", float)]
data = [['2015-01-01T00:00:00.000Z', 'Sarah', 12.88969427 ],['2015-01-02T00:00:00.000Z', 'Sarah', 13.54964408],['2015-01-03T00:00:00.000Z', 'Sarah', 13.8432745],['2015-01-04T00:00:00.000Z', 'Sarah', 12.13843611 ],['2015-01-05T00:00:00.000Z', 'Sarah', 12.81156092],['2015-01-06T00:00:00.000Z', 'Sarah', 14.2499628],['2015-01-07T00:00:00.000Z', 'Sarah', 15.12102595 ] ]
datetimeindex = ['2015-01-01T00:00:00.000Z','2015-01-02T00:00:00.000Z', '2015-01-03T00:00:00.000Z','2015-01-04T00:00:00.000Z','2015-01-05T00:00:00.000Z', '2015-01-06T00:00:00.000Z','2015-01-07T00:00:00.000Z']

In [ ]:
frame = tc.frame.create(data, schema)

In [ ]:
frame.inspect()

In [ ]:
[#]  timestamp                 name   value      
=================================================
[0]  2015-01-01T00:00:00.000Z  Sarah  12.88969427
[1]  2015-01-02T00:00:00.000Z  Sarah  13.54964408
[2]  2015-01-03T00:00:00.000Z  Sarah   13.8432745
[3]  2015-01-04T00:00:00.000Z  Sarah  12.13843611
[4]  2015-01-05T00:00:00.000Z  Sarah  12.81156092
[5]  2015-01-06T00:00:00.000Z  Sarah   14.2499628
[6]  2015-01-07T00:00:00.000Z  Sarah  15.12102595

In [ ]:
ts = frame.timeseries_from_observations(datetimeindex, "timestamp","name","value")

In [ ]:
ts.inspect()

In [ ]:
[#]  name 
==========
[0]  Sarah

     [#]  value                                                                      
     ================================================================================
     [0]  [12.88969427, 13.54964408, 13.8432745, 12.13843611, 12.81156092, 14.2499628, 15.12102595]

In [ ]:
ts_frame_data = ts.take(n=1,offset=0,columns=["value"]).data

In [ ]:
ts_frame_data

In [ ]:
[[array([ 12.88969427,  13.54964408,  13.8432745 ,  12.13843611,
          12.81156092,  14.2499628 ,  15.12102595])]]

In [ ]:
ts_values = ts_frame_data[0][0].tolist()

In [ ]:
ts_values

In [ ]:
[12.88969427,
 13.54964408,
 13.8432745,
 12.13843611,
 12.81156092,
 14.2499628,
 15.12102595]

In [ ]:
model = tc.models.timeseries.arima.train(ts_values, 1, 0, 1)

In [ ]:
model

In [ ]:
coefficients      = [9.864444620964322, 0.2848511106449633, 0.47346114378593795]
d                 = 0
include_intercept = True
init_params       = None
method            = css-cgd
p                 = 1
q                 = 1
ts_values         = [12.88969427, 13.54964408, 13.8432745, 12.13843611, 12.81156092, 14.2499628, 15.12102595]

In [ ]:
model.predict()

In [ ]:
[12.674342627141744,
 13.638048984791693,
 13.682219498657313,
 13.883970022400577,
 12.49564914570843,
 13.66340392811346,
 14.201275185574925]

In [ ]:
model.predict(future_periods=3)

In [ ]:
[12.674342627141744,
 13.638048984791693,
 13.682219498657313,
 13.883970022400577,
 12.49564914570843,
 13.66340392811346,
 14.201275185574925,
 14.345159879072785,
 13.950679344897772,
 13.838311126610202]