In [ ]:
import sparktk as tk
from datetime import datetime
tc=tk.TkContext()
schema = [("timestamp", datetime),("humour", float),("name", str),("value", float)]
data = [['2015-01-01T00:00:00.000Z', 5, 'Sarah', 12.88969427 ],['2015-01-02T00:00:00.000Z', 4, 'Sarah', 13.54964408],['2015-01-03T00:00:00.000Z', 7, 'Sarah', 13.8432745],['2015-01-04T00:00:00.000Z', 18, 'Sarah', 12.13843611 ],['2015-01-05T00:00:00.000Z',55,'Sarah', 12.81156092],['2015-01-06T00:00:00.000Z',45,'Sarah', 14.2499628],['2015-01-07T00:00:00.000Z', 0,'Sarah', 15.12102595 ] ]
frame = tc.frame.create(data, schema)
datetimeindex = ['2015-01-01T00:00:00.000Z','2015-01-02T00:00:00.000Z', '2015-01-03T00:00:00.000Z','2015-01-04T00:00:00.000Z','2015-01-05T00:00:00.000Z', '2015-01-06T00:00:00.000Z','2015-01-07T00:00:00.000Z']

In [ ]:
frame = tc.frame.create(data, schema)

In [ ]:
frame.inspect()

In [ ]:
[#]  timestamp                 humour  name   value      
=========================================================
[0]  2015-01-01T00:00:00.000Z       5  Sarah  12.88969427
[1]  2015-01-02T00:00:00.000Z       4  Sarah  13.54964408
[2]  2015-01-03T00:00:00.000Z       7  Sarah   13.8432745
[3]  2015-01-04T00:00:00.000Z      18  Sarah  12.13843611
[4]  2015-01-05T00:00:00.000Z      55  Sarah  12.81156092
[5]  2015-01-06T00:00:00.000Z      45  Sarah   14.2499628
[6]  2015-01-07T00:00:00.000Z       0  Sarah  15.12102595

In [ ]:
model = tc.models.timeseries.arx.train(frame, "value", ["humour"], 0 , 0, True)

In [ ]:
c            = 0.0
coefficients = [0.32575512367313336]
no_intercept = True
x_max_lag    = 0
y_max_lag    = 0

In [ ]:
predicted_frame = model.predict(frame, "value", ["humour"])

In [ ]:
predicted_frame.inspect(columns=["value","predicted_y"])